#grid-board{
    /* display:grid; */
    /* grid-template-columns:100px 100px;
    grid-template-rows: 100px; */
    /* grid-template-rows:    repeat(4, 100px);
    grid-template-columns: repeat(4, 100px); */
    display: flex;
    
}

.box{
    border: black 1px solid;
    margin:0; 
    height: 100px;
    width: 100px; 
}

.column{
    
}