body {
    margin: 0;
    color: white;
    background-color:darkcyan;
}


#grid-board{
    margin: 10px;
    display:grid;
    grid-template-columns:100px 100px;
    grid-template-rows: 100px 100px;
    
}

.box{
    border: black 1px solid;  
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(51, 180, 255);
    color: white
}